<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{title}}</title>
    <link rel="stylesheet" href="/main.css">
</head>

<body>
    <div class="container">
        <form id="accountForm" action="/auth/account">
            <div class="inputGroup">
                <label for="email">이메일</label>
                <input id="email" type="email" name="email" required autofocus>
            </div>
            <div class="inputGroup">
                <label for="name">이름</label>
                <input id="name" type="name" name="name" required autofocus>
            </div>
            <div class="inputGroup">
                <label for="web47ID">ID</label>
                <input id="web47ID" type="web47ID" name="web47ID" required autofocus>
            </div>
            <div class="inputGroup">
                <label for="password">비밀번호</label>
                <input id="password" type="password" name="password" required>
            </div>
            <button id="account" type="submit" class="btn">회원가입</button>
        </form>
    </div>
</body>

</html>