{% extends 'layout.html' %}

{% block content %}
<div class="homeContainer">
    <div>
        <a id="home" href="/home" class="btn">home</a>
        <a id="new" href="/new" class="btn">new</a>
        <a id="profile" href="/profile" class="btn">profile</a>
        <a id="follow" href="/follow" class="btn">follow</a>
        <a id="message" href="/msg" class="btn">message</a>
        <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
    </div>
    <div>
        <form id="hashtagForm" action="/hashtag">
            <input type="text" name="hashtag" placeholder="해시태그 검색">
            <button class="btn">검색</button>
        </form>
        {% for post in posts %}
        <div class="post">

            <input type="hidden" value="{{post.User.Web47ID}}" class="postUserID">
            <input type="hidden" value="{{post.id}}" class="postID">
            <div class="postAuthor">{{post.User.name}}</div>
            {% if not followerIdList.includes(post.User.id) and post.User.id !== user.id %}
            <button class="postFollow">팔로우하기</button>
            {% endif %}
            <div class="postContent">{{post.content}}</div>
            {% if post.imgs %}
            <div class="postImg"><img src="{{post.imgs}}" alt="thumbnail"></div>
            {% endif %}
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}