{% extends 'layout.html' %}

{% block content %}
<div class="homeContainer">
    <div>
        <a id="home" href="/home" class="btn">home</a>
        <a id="new" href="/new" class="btn">new</a>
        <a id="profile" href="/profile" class="btn">profile</a>
        <a id="follow" href="/follow" class="btn">follow</a>
        <a id="message" href="/msg" class="btn">message</a>
        <a id="logout" href="/auth/logout" class="btn">로그아웃</a>
        <form id="hashtagForm" action="/hashtag">
            <input type="text" name="hashtag" placeholder="해시태그 검색">
            <button class="btn">검색</button>
        </form>
    </div>
    <div>
        {% for post in posts %}
        <div class="post" id="post_{{loop.index}}">
            {% if post.img != null %}
            {% for img in post.img %}
            <img id="{{loop.index}}" src="{{img}}" alt="thumbnail" width="100%">
            {% endfor %}
            {% endif %}
            {% if post.User.id == user.id %}
            <form id="editForm" action="/edit">
                <input type="hidden" name="postID" value="{{post.id}}" class="postID">
                <button class="btn">수정</button>
            </form>
            {% endif %}
            <form id="nameForm" action="/userID">
                User Name :
                <input type="hidden" name="postUserID" value="{{post.User.web47ID}}" class="postWeb47ID">
                <button class="btn">{{post.User.name}}</button>
            </form>
            {{post.updatedAt}}
            <div class="postContent">{{post.content}}</div>
        </div>
        {% endfor %}
    </div>
    <div>
        <!-- 페이지 번호 -->

        <!-- 참고 : https://ons-design-system.netlify.app/components/pagination/-->
        {% for pageNum in pageCount %}
        <a href="">{{loop.index}}</a>
        {% endfor %}
    </div>
</div>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}