{% extends 'layout.html' %}

{% block content %}
<img class="image" src="/front.jpg" width="500">
<div class="loginContainer">
    <form id="loginForm" action="/auth/login" method="post">
        <div class="inputGroup">
            <label for="email">이메일</label>
            <input id="email" type="email" name="email" required autofocus>
        </div>
        <div class="inputGroup">
            <label for="password">비밀번호</label>
            <input id="password" type="password" name="password" required autofocus>
        </div>
        <div>
            <button id="login" type="submit" class="btn">로그인</button>
        </div>
        <div>
            <a id="account" href="/account" class="btn">회원가입</a>
        </div>
    </form>
</div>
<footer class="rootFooter">
</footer>
{% endblock %}

{% block script %}
<script></script>
{% endblock %}