{% extends 'layout.html' %}

{% block content %}
{% if isNew %}
<div class="newContainer">
    <form id="postForm" action="/post" method="post" enctype="multipart/form-data">
        <div class="inputGroup">
            <textarea id="postContent" name="content" maxlength="200"></textarea>
        </div>
        <div class="imgPreview">
            <img id="imgPreview0" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL0" type="hidden" name="url">
            <img id="imgPreview1" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL1" type="hidden" name="url">
            <img id="imgPreview2" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL2" type="hidden" name="url">
            <img id="imgPreview3" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL3" type="hidden" name="url">
            <img id="imgPreview4" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL4" type="hidden" name="url">
        </div>
        <div>
            <label id="imgLabel" for="imgs">사진 업로드</label>
            <input id="imgs" name="imgs" type="file" accept="image/*" multiple>
            <button id="postBtn" type="submit" class="btn">게시</button>
        </div>
        <div>
            <a id="home" href="/home" class="btn">home</a>
        </div>
    </form>
</div>
{% else %}
<div class="editContainer">
    <form id="postForm" action="/post" method="post" enctype="multipart/form-data">
        <div class="inputGroup">
            <textarea id="postContent" name="content" maxlength="200"></textarea>
        </div>
        <div class="imgPreview">
            <img id="imgPreview0" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL0" type="hidden" name="url">
            <img id="imgPreview1" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL1" type="hidden" name="url">
            <img id="imgPreview2" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL2" type="hidden" name="url">
            <img id="imgPreview3" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL3" type="hidden" name="url">
            <img id="imgPreview4" src="" style="display: none;" width="200" alt="미리보기">
            <input id="imgURL4" type="hidden" name="url">
        </div>
        <div>
            <label id="imgLabel" for="imgs">사진 업로드</label>
            <input id="imgs" name="imgs" type="file" accept="image/*" multiple>
            <button id="postBtn" type="submit" class="btn">수정</button>
        </div>
        <div>
            <a id="home" href="/home" class="btn">home</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    if (document.getElementById('imgs')) {
        let total = 0;
        let index = 0;
        document.getElementById('imgs').addEventListener('change', function (e) {
            const formData = new FormData();
            const length = this.files.length;
            const max = 5;
            if (length > max - total) {
                alert("사진은 최대 5장까지만 올릴 수 있습니다.");
                return;
            } else {
                total += length;
            }
            console.log(`파일 수 : ${total}`);
            console.log(this.files);
            for (i = 0; i < length; i++) {
                formData.append('imgs', this.files[i]);
                index++;
            }
            axios.post('/post/img', formData)
                .then((res) => {
                    console.log('res.data : ', res.data);
                    for (i = 0; i < res.data.length; i++) {
                        document.getElementById(`imgURL${i}`).value = res.data[i];
                        document.getElementById(`imgPreview${i}`).src = res.data[i];
                        document.getElementById(`imgPreview${i}`).style.display = 'inline';
                    }
                    //console.log('res.data parsed : ', JSON.parse(res.data));
                    //document.getElementById('imgURL').value = JSON.parse(res.data);
                    //document.getElementById('imgPreview').src = JSON.parse(res.data);
                    //document.getElementById('imgPreview').style.display = 'inline';
                })
                .catch((err) => { console.error(err); });
        });
    };
</script>
{% endblock %}