{% extends 'layout.html' %}

{% block content %}
{% if isNew %}
<!--새로생성-->
<div class="newContainer">
    <form id="postForm" action="/post" method="post" enctype="multipart/form-data">
        <div class="imgPreview" id="imgPreview"></div>
        <div>
            <label id="imgLabel" for="imgs">사진 업로드</label>
            <input id="imgs" name="imgs" type="file" accept="image/*" multiple>
            <button id="postBtn" type="submit" class="btn">게시</button>
        </div>
        <div class="inputGroup">
            <textarea id="postContent" name="content" maxlength="200"></textarea>
        </div>
        <div>
            <a id="home" href="/home" class="btn">home</a>
        </div>
    </form>
</div>
{% else %}
<!--수정-->
<div class="editContainer">
    <form id="postForm" action="/post" method="post" enctype="multipart/form-data">
        <div class="imgPreview"></div>
        <div>
            <label id="imgLabel" for="imgs">사진 업로드</label>
            <input id="imgs" name="imgs" type="file" accept="image/*" multiple>
            <button id="postBtn" type="submit" class="btn">수정</button>
        </div>
        <div class="inputGroup">
            <textarea id="postContent" name="content" maxlength="200"></textarea>
        </div>
        <div>
            <a id="home" href="/home" class="btn">home</a>
        </div>
    </form>
</div>
{% endif %}
{% endblock %}

{% block script %}
<script>
    if (document.getElementById('imgs')) {
        let total = 0;
        let index = 0;
        document.getElementById('imgs').addEventListener('change', function (e) {
            const formData = new FormData();
            const length = this.files.length;
            const max = 5;
            if (length > max - total) {
                alert("사진은 최대 5장까지만 올릴 수 있습니다.");
                return;
            } else {
                total += length;
            }
            console.log('파일 수 : ', total);
            console.log('내용 : ', this.files);
            for (i = 0; i < length; i++) {
                formData.append('imgs', this.files[i]);
                index++;
            }
            //console.log('formdata : ', formData);//formdata 바로찍어보면 안나옴
            for (i of formData.keys()) {
                console.log('key : ', i);
            }
            for (i of formData.values()) {
                console.log('value : ', i);
            }
            axios.post('/post/img', formData)
                .then((res) => {
                    jsonData = JSON.parse(res.data);
                    for (i = 0; i < jsonData.length; i++) {
                        let im = document.createElement('img');
                        im.src = jsonData[i];//보여주기 위한 정보
                        im.width = '200';
                        im.display = 'inline';
                        let inp = document.createElement('input');
                        inp.type = 'hidden';
                        inp.value = jsonData[i];//서버에 넘겨주기 위한 정보
                        inp.name = 'url'
                        document.getElementById('imgPreview').appendChild(im);
                        document.getElementById('imgPreview').appendChild(inp);
                    }
                })
                .catch((err) => { console.error(err); });
        });
    };
</script>
{% endblock %}