.bash_logout
.cache
.config
.local
.npm
.ssh
.vscode-server
.bash_history
.bash_logout
.bashrc
.node_repl_history
.profile
.viminfo
.wget-hsts
.gitconfig
.mysql_history
package-lock.json
/learn-sequelize/node_modules/
/learn-sequelize/config/
/nodebird/node_modules/
/nodebird/config/